<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shiftschedule.app">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ShiftApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkShift"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RotationSettingsActivity"
            android:label="轮班设置"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".EditShiftActivity"
            android:label="编辑班次"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="设置"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AlarmSettingsActivity"
            android:label="闹钟设置"
            android:parentActivityName=".SettingsActivity" />

        <activity
            android:name=".CalendarActivity"
            android:label="日历"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".EditRotationPatternActivity"
            android:label="编辑轮班模式"
            android:parentActivityName=".RotationSettingsActivity" />

        <activity
            android:name=".PreviewPatternActivity"
            android:label="预览轮班模式"
            android:parentActivityName=".RotationSettingsActivity" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>